@{
    ViewData["Title"] = "Admin";
}


<h1>Administração de Usuários</h1>

<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Administração de Usuários</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>@user.Idade</td>
                        <td>@user.Sexo</td>
                        <td>
                            <!-- Botões de ação podem ser adicionados aqui, como editar, excluir, etc. -->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

