@{
    ViewData["Title"] = "Aluno";
}

<body>
    <div class="container">
        <h1 class="title">Ficha de Treino</h1>

        <div class="student-info">
            <h2 class="subtitle">Nome do Aluno : @ViewBag.nome</h2>
        </div>

        <div class="exercise-list">
            @if (ViewBag.ListaPerson != null)
            {
                foreach (var tipo in ViewBag.ListaPerson.Keys)
                {
                    <div class="exercise-type">
                        <h3 class="type-title">@tipo</h3>
                        <table class="exercise-table">
                            <thead>
                                <tr>
                                    <th>Exercício</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exercicio in ViewBag.ListaPerson[tipo])
                                {
                                    <tr>
                                        <td>@exercicio</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }

            else
            {
                <p>Nenhum exercício encontrado.</p>
            }
        </div>
    </div>

    @{
        ViewData["Title"] = "Editar meu Cadastro";
    }
    <div class="container">
        <button id="toggleButton" class="btn btn-primary">Editar Cadastro</button>
        <div id="formContent" class="form-container" style="display:none;">
            <h2 class="cadastro">CADASTRO</h2>
            <form asp-action="EditarCadastro" method="post" id="editForm">

                <input type="hidden" id="id" name="id" value="@ViewBag.ID">

                <div class="form-group">
                    <label for="fullName">Seu nome salvo no cadastro é:</label>
                    <input type="text" id="fullName" name="fullName" class="form-control" value="@ViewBag.Nome">
                </div>
                <div class="form-group">
                    <label for="email">O seu email:</label>
                    <input type="email" id="email" name="email" class="form-control" value="@ViewBag.Email">
                </div>
                <div class="form-group">
                    <label for="password">Senha antiga:</label>
                    <input type="text" id="senhantiga" name="senhantiga" class="form-control" minlength="8" value="@ViewBag.Password" readonly required>
                </div>
                <div class="form-group">
                    <label for="password">Digite uma senha de 8 dígitos:</label>
                    <input type="password" id="password" name="password" class="form-control" minlength="8">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirme a senha:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" minlength="8">
                </div>
                <div class="form-group">
                    <label for="idade">Informe sua idade:</label>
                    <input type="number" id="idade" name="idade" class="form-control" min="0" value="@ViewBag.Idade" required>
                </div>
                <div class="form-group">
                    <label for="sexo">Selecione seu sexo:</label>
                    <select id="sexo" name="sexo" class="form-control" required>
                        <option value="escolha">Escolha</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="saveButton">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        <script>$('#confirmPassword').blur(function () {
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();
                if (password !== confirmPassword) {
                    $('#confirmPassword')[0].setCustomValidity('As senhas não correspondem.');
                } else {
                    $('#confirmPassword')[0].setCustomValidity('');
                }
            });

            $('#toggleButton').click(function () {
                $('#formContent').toggle();
            });

            $('#editForm').submit(function (e) {
                e.preventDefault();

                $.post($(this).attr('action'), $(this).serialize(), function (response) {
                    alert('Salvo com sucesso.');
                    location.reload();
                }).fail(function () {
                    alert('Erro ao salvar. Por favor, tente novamente.');
                });
            });</script>
    }



</body>

