@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>@ViewBag.Nome </h1>



<div class="form-container">
    <form action="Privacy" method="post">

       <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
       
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>

@if (ViewBag.Clientes != null && ViewBag.Clientes.Count > 0)
{
    <h3>Clientes cadastrados:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in ViewBag.Clientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Email</td>
                </tr>
            }
        </tbody>
    </table>
}



